@media print {
  #print-button {
    display: none;
  }

  #back-button {
    display: none;
  }

  table {
    border: solid #002d62 !important;
    border-width: 1px 0 0 1px !important;
  }
  th,
  td {
    border: solid #002d62 !important;
    border-width: 0 1px 1px 0 !important;
  }
}

table {
  /* background-color:  #6CB4EE; */
  background-color: #b3c6db;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border-collapse: collapse;
  font-size: 16px;
  color: #002d62;
  font-family: "HelveticaNeue";
  box-sizing: border-box;
}

th,
td {
  border: 2px solid white;
  padding: 10px;
}

td {
  background-color: #e3edf8;
}
.header th {
  font-size: 22px;
  /* background-color: #002D62; */
}

/* ? underlines */
span {
  text-decoration: underline;
}

.biggerCols {
  width: 50%;
}

.smallerCols {
  width: 70%;
}

.Subheading {
  text-align: center;
  font-size: 20px;
}

.payCell {
  height: 50px;
  vertical-align: top;
}

.beingCell {
  height: 100px;
  vertical-align: top;
}

tr:last-child td {
  padding-top: 40px;
}

tr:last-child td div {
  padding-top: 10px;
  border-top: 2px solid #002d62;
}

/* ? buttons */
.buttons {
  margin-top: 40px;
  display: flex;
  gap: 70px;
  justify-content: center;
}

button {
  height: 50px;
  width: 10%;
  border-radius: 5px;
  background-color: #e3edf8;
  outline: transparent;
  border: none;
  color: #002d62;
  font-size: 20px;
  font-family: "HelveticaNeue";
  transition: 0.5s;
  font-weight: 545;
}

/* * voucher style */
.voucher-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0px auto;
  font-size: 18px;
  color:#002d62;
}


.voucher-title,
.voucher-subtitle,
.last-row {
  text-align: center;
}

.voucher-title {
  font-size: 25px;
}

/* horizontal line for partitioning title and body */
.line {
  border-bottom: 1px solid #002d62; /* Replace 'black' with the desired color */
}

/* rows for which two rows exists */
.double-col {
  display: flex;
  flex-direction: row;
}

.double-col .left {
  width: 70%;
  text-align: left;
}

/* adjust height of pay to cell */
.double-row {
  min-height: 40px;
}

.double-col,
.double-row {
  margin-bottom: 10px;
}
.being {
  height: 80px;
}

/* adjusting row with triple columns */
.double-col .triple:first-child {
  width: 40%;
}

.double-col .triple:nth-child(2) {
  width: 25%;
}

/* * when paid by cash decrease opacity of cheque */
.paidByCash {
  opacity: 0.7;
}

.last-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* top border line for signature destination */
.last-row .triple {
  padding-top: 5px;
  border-top: 2px solid #002d62;
  width: 150px;
}

/* * print and back button styles */

button a {
  text-decoration: none;
}

button:hover {
  background-color: #b3c6db;
}

button a:visited {
  color: #002d62;
}
