@media print {
  #print-button {
    display: none;
  }

  #back-button {
    display: none;
  }
}

table {
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
     border-collapse: collapse;
}

 th, td {
    border: 1px solid black; /* Add a solid black border to table headers and cells */
    padding: 8px; /* Add padding to create space between content and borders */
  }

.header th {
    grid-column: 1 / span 3;
    background-color: burlywood;
}

