
@media print {
  #print-button {
    display: none;
  }

  #back-button {
    display: none;
  }

  span {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
  }

  @page {
    size: auto;
    margin: 0 1cm;
  }

  body {
    margin: 0 auto;
  }

  ::header,
  ::footer {
    display: none;
  }
}

html {
  font-family: serif;
}

/* ? buttons */
.buttons {
  margin-top: 40px;
  display: flex;
  gap: 70px;
  justify-content: center;
}

button {
  height: 50px;
  width: 10%;
  border-radius: 5px;
  background-color: #b3c6db;
  outline: transparent;
  border: none;
  color: white;
  font-size: 20px;
  transition: 0.5s;
  font-weight: 545;
}

/* * voucher style */
.voucher-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 10px auto 10px;
  font-size: 18px;
  color: #002d62;
  font-family: "";
}

.voucher-title,
.voucher-subtitle,
.last-row {
  text-align: center;
}

.voucher-title {
  font-size: 25px;
}

/* horizontal line for partitioning title and body */
.line {
  border-bottom: 2px solid #002d62;
  margin-bottom: 10px;
}

/* rows for which two rows exists */
.double-col {
  display: flex;
  flex-direction: row;
}

.double-col .left {
  width: 35%;
  text-align: left;
}

/* adjust height of pay to cell */
.double-row {
  min-height: 21px;
}

.double-col,
.double-row,
.being {
  margin-bottom: 10px;
}
.being {
  min-height: 80px;
  word-break: break-all;
}

/* adjusting row with triple columns */
.double-col .triple:first-child {
  width: 35%;
}

.double-col .triple:nth-child(2) {
  width: 30%;
}

.last-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  border: 2px solid #002d62;
  padding: 0px 20px 0px;
}
/* top border line for signature destination */
.last-row .triple {
  padding-top: 5px;
  border-top: 2px solid #002d62;
  width: 16%;
  margin: 60px 0 10px;
}

.vertical-line {
  border-left: 2px solid #002d62;
  height: 120px;
  margin: 0;
}

/* * print and back button styles */

button a {
  text-decoration: none;
}

button:hover {
  background-color: #e3edf8;
  color: #002d62;
}
