<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='formStyle.css') }}"
    />
</head>
  <body>
    <div class="formContainer">
      <h1>Cash / Bank Voucher</h1>
      <form method="POST" action="/submission">
        
       <div class="couple">
         
        <div class="InputContainer">
          <select type="text" id="debit" name="Debit" required>
            {% for debitValue in debitDropdown %}
            <option value="{{debitValue}}">{{debitValue}}</option>
            {% endfor %}
          </select>
          <label for="debit">Debit A/c</label>
        </div>

        <div class="InputContainer">
          <input
            type="date"
            id="date"
            name="Date"
            required
            autocomplete="off"
          />
          <label for="date" onclick="openCalendar()">Date</label>
        </div>
      </div>

       

        <div class='couple'>
           <div class="InputContainer">
          <input type="text" id="pay" name="Pay" required autocomplete="off" />
          <label for="Pay"> Pay To </label>
        </div>

        <div class="InputContainer">
          <input
            type="text"
            id="price"
            name="Price"
            pattern="[0-9]+"
            required
            autocomplete="off"
          />
          <label for="price"> Rs. (In digits) </label>
        </div>

        <div class="InputContainer">
          <select id="paymentType" name="paymentType" required>
            <option value="Cash">Cash</option>
            <option value="Cheque">Cheque</option>
            <option value="NEFT">NEFT</option>
          </select>
          <label for="paymentType">Paid by Cash / Cheque</label>
        </div>
      </div>

        <section id="chequeContainer">

          

          <div class="couple">
             <div class="InputContainer">
            <select type="text" id="bankName" name="bankName" required>
              {% for name in bankNames %}
              <option value="{{name}}">{{name}}</option>
              {% endfor %}
            </select>
            <label for="Bank">Bank Name</label>
          </div>
          <div class="InputContainer">
            <input
              type="text"
              pattern="[0-9]+"
              id="chequeNo"
              name="chequeNo"
              required
              autocomplete="off"
            />
            <label for="chequeNo">Cheque Number</label>
          </div>

          <div class="InputContainer">
              <input
                type="date"
                id="dated"
                name="Dated"
                required
                autocomplete="off"
              />
            <label for="dated">Dated</label>
            </div>
        </section>

        <div class="InputContainer">
          <select type="text" id="conveyer" name="conveyer" required>
            {% for name in conveyers %}
            <option value="{{name}}">{{name}}</option>
            {% endfor %}
          </select>
          <label for="conveyer">Convener</label>
        </div>

        <div class="InputContainer">
          <textarea
            id="being"
            name="Being"
            rows="4"
            cols="50"
            required
            autocomplete="off"
          ></textarea>
          <label for="Being" placeholder="Being">Being</label>
        </div>

        <div class="a">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <input class="Submit-Btn" type="submit" value="Submit" />
        </div>
      </form>
    </div>

    <script>
      window.addEventListener("load", function () {
        var chequeContainer = document.getElementById("chequeContainer");
        var paymentTypeSelect = document.getElementById("paymentType");
        var dated = document.getElementById("dated");
        var bankName = document.getElementById("bankName");
        var chequeNo = document.getElementById("chequeNo");

        function updatePaymentType() {
          if (paymentTypeSelect.value === "Cheque") {
            chequeContainer.style.display = "inline";
            chequeContainer.style.opacity = 0; 
            dated.required = true;
            bankName.required = true;
            chequeNo.required = true;

            // Trigger a reflow (force a repaint)
            void chequeContainer.offsetWidth;

            chequeContainer.style.opacity = 1;
            chequeContainer.style.transition = "opacity 0.5s ease";
          } else {
              chequeContainer.style.opacity = 0; // Gradually decrease opacity to 0
              chequeContainer.style.transition = "opacity 0.3s ease";
              setTimeout(function() {
                chequeContainer.style.display = "none";
                dated.required = false;
                bankName.required = false;
                chequeNo.required = false;
              }, 300); // Delay the removal of the element after the transition duration (2s)
            }
        }
        updatePaymentType();

        // Add change event listener to paymentTypeSelect
        paymentTypeSelect.addEventListener("change", updatePaymentType);
      });
    </script>

    <script>
      var inputElement = document.getElementById("price");
      inputElement.addEventListener("input", function () {
        if (this.value.length > 0) {
          this.classList.add("has-input");
        } else {
          this.classList.remove("has-input");
        }
      });

      var inputChenumber = document.getElementById("chequeNo");
      inputChenumber.addEventListener("input", function () {
        if (this.value.length > 0) {
          this.classList.add("has-input");
        } else {
          this.classList.remove("has-input");
        }
      });

      function openCalendar() {
        document.getElementById("date").click();
      }
    </script>
  </body>
</html>