<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='voucherStyle.css') }}"
    />
  </head>
  <body>
    <div class="voucher-container">
      <div class="voucher-title">OXFORD VILLAGE CONDOMINIUM</div>

      <div class="voucher-subtitle">(Regd. No. 803./1998)</div>
      <div class="voucher-subtitle line">
        WANOWRIE, PUNE - 411 040. TEL: 020-41253883 Email:
        oxfordvillage@gmail.com
      </div>

      <div class="double-col">
        <div class="left">Cash/Bank Voucher</div>
        <div class="right">Debit A/c : <span>{{data[1]}}</span></div>
      </div>

      <div class="double-col">
        <div class="triple">No : <span>{{data[0]}}</span></div>
        <div class="triple">Rs. (In digits) : <span>{{data[4]}}</span></div>
        <div class="triple">Date : <span>{{data[2]}}</span></div>
      </div>

      <div class="double-row">Pay To : <span>{{data[3]}}</span></div>

      <div class="double-row">Rs. (In words) : <span>{{data[5].capitalize()}}</span></div>

      <div class="double-col">
        {% if data[6] == "Cheque" %}
        <div class="triple">Paid By Cheque No : <span>{{data[7]}}</span></div>
        <div class="triple">Dated : <span>{{data[8]}}</span></div>
        <div class="triple">Bank Name : <span>{{data[9]}}</span></div>
        {% else %}
        <div class="triple">Paid By : {{data[6]}}</div>
        <div class="triple">Dated : <span> NA </span></div>
        <div class="triple">Bank Name : <span> NA </span></div>
        {% endif %}
      </div>

      <div class="being">Being : <span>{{data[-1]}}</span></div>

      <div class="last-row">
        <div class="triple">Prepared By</div>
        <div class="vertical-line"></div>
        <div class="triple">President</div>
        <div class="triple">Treasurer</div>
        <div class="triple">Secretary</div>
        <div class="triple">Convener <br>{{data[-2]}}</div>
        <div class="vertical-line"></div>
        <div class="triple">Reciever's Signature</div>
      </div>
    </div>

    <div class="buttons">
      <button id="print-button" onclick="window.print()">Print</button>
      <button id="back-button" onclick="window.history.back()">Back</button>
    </div>

    <script>
      //window.print();
    </script>
  </body>
</html>
