<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='formStyle.css') }}"
    />

    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include jQuery UI Datepicker CSS -->
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />

    <!-- Include jQuery UI Datepicker JavaScript -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <div class="formContainer">
      <h1>Cash/Bank Voucher</h1>
      <form method="POST" action="/submission">
        <div class="InputContainer">
          <!--<label for="Debit"> Debit </label>-->
          <select type="text" id="debit" name="Debit" required>
            {% for debitValue in debitDropdown %}
            <option value="{{debitValue}}">{{debitValue}}</option>
            {% endfor %}
          </select>
          <label for="debit">Debit A/c</label>
        </div>

        <div class="InputContainer">
          <input
            type="text"
            id="date"
            name="Date"
            required
            autocomplete="off"
          />
          <label for="date">Date</label>
        </div>

        <div class="InputContainer">
          <input type="text" id="pay" name="Pay" required autocomplete="off" />
          <label for="Pay"> Pay To </label>
        </div>

        <div class="InputContainer">
          <input
            type="text"
            id="price"
            name="Price"
            pattern="[0-9]+"
            required
            autocomplete="off"
          />
          <label for="price"> Rs. (In digits) </label>
        </div>

        <div class="InputContainer">
          <select id="paymentType" name="paymentType" required>
            <option value="Cash">Cash</option>
            <option value="Cheque">Cheque</option>
            <option value="NEFT/RTGS">NEFT/RTGS</option>
          </select>
          <label for="paymentType">Paid by Cash/Cheque</label>
        </div>

        <section id="chequeContainer">
          <div class="InputContainer">
            <input
              type="text"
              id="dated"
              name="Dated"
              required
              autocomplete="off"
            />
            <label for="dated">Dated</label>
          </div>

          <div class="InputContainer">
            <select type="text" id="bankName" name="bankName" required>
              {% for name in bankNames %}
              <option value="{{name}}">{{name}}</option>
              {% endfor %}
            </select>
            <label for="Bank">Bank Name</label>
          </div>

          <div class="InputContainer">
            <input
              type="text"
              pattern="[0-9]+"
              id="chequeNo"
              name="chequeNo"
              required
              autocomplete="off"
            />
            <label for="chequeNo">Cheque Number</label>
          </div>
        </section>

        <div class="InputContainer">
          <select type="text" id="conveyer" name="conveyer" required>
            {% for name in conveyers %}
            <option value="{{name}}">{{name}}</option>
            {% endfor %}
          </select>
          <label for="conveyer">Conveyer</label>
        </div>

        <div class="InputContainer">
          <textarea
            id="being"
            name="Being"
            rows="4"
            cols="50"
            required
            autocomplete="off"
          ></textarea>
          <label for="Being" placeholder="Being">Being</label>
        </div>

        <div class="a">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <input class="Submit-Btn" type="submit" value="Submit" />
        </div>
      </form>
    </div>

    <script>
      $(function () {
        // Initialize the datepicker
        $("#date").datepicker({
          dateFormat: "dd/mm/yy",
          defaultDate: 0,
        });

        $("#dated").datepicker({
          dateFormat: "dd/mm/yy",
        });
      });
    </script>

    <script>
      window.addEventListener("load", function () {
        var chequeContainer = document.getElementById("chequeContainer");
        var paymentTypeSelect = document.getElementById("paymentType");
        var dated = document.getElementById("dated");
        var bankName = document.getElementById("bankName");
        var chequeNo = document.getElementById("chequeNo");

        function updatePaymentType() {
          if (paymentTypeSelect.value === "Cheque") {
            chequeContainer.style.display = "inline";
            dated.required = true;
            bankName.required = true;
            chequeNo.required = true;
          } else {
            chequeContainer.style.display = "none";
            dated.required = false;
            bankName.required = false;
            chequeNo.required = false;
          }
        }

        // Call the updatePaymentType function initially
        updatePaymentType();

        // Add change event listener to paymentTypeSelect
        paymentTypeSelect.addEventListener("change", updatePaymentType);
      });
    </script>

    <script>
      var inputElement = document.getElementById("price");
      inputElement.addEventListener("input", function () {
        if (this.value.length > 0) {
          this.classList.add("has-input");
        } else {
          this.classList.remove("has-input");
        }
      });

      var inputChenumber = document.getElementById("chequeNo");
      inputChenumber.addEventListener("input", function () {
        if (this.value.length > 0) {
          this.classList.add("has-input");
        } else {
          this.classList.remove("has-input");
        }
      });
    </script>
  </body>
</html>
