<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='voucherStyle.css') }}"
    />
  </head>
  <body>
    <table>
      <tr class="header">
        <th colspan="3">OXFORD VILLAGE CONDOMINIUM</th>
      </tr>
      <tr>
        <td colspan="3" class="Subheading">(Regd. No. 803./1998)</td>
      </tr>
      <tr>
        <td colspan="3" class="Subheading">
          WANOWRIE, PUNE - 411 040. TEL: 020-41253883 Email:
          oxfordvillage@gmail.com
        </td>
      </tr>
      <tr>
        <td colspan="1" class="biggerCols">CASH/BANK VOUCHER</td>
        <td colspan="2">Debit: {{data[1]}}</td>
      </tr>
      <tr>
        <td colspan="2" class="smallerCols">No: {{data[0]}}</td>
        <td colspan="1">Date: {{data[2]}}</td>
      </tr>
      <tr class="payCell">
        <td colspan="3">PAY TO: <span>{{data[3]}}</span></td>
      </tr>
      <tr class="payCell">
        <td colspan="3">Rs. (In words): <span>{{data[4]}}</span></td>
      </tr>
      <tr>
        <td colspan="1">Paid By: <span>{{data[5]}}</span></td>
        {% if data[5] == "Cheque" %}
        <td colspan="1">Dated: <span>{{data[6]}}</span></td>
        <td colspan="1">Bank Name: <span>{{data[7]}}</span></td>
        {% else %}
        <td colspan="1">Dated: NA</td>
        <td colspan="1">Bank Name: NA</td>
        {% endif %}
      </tr>
      <tr class="beingCell">
        <td colspan="3">Being <span>{{data[-1]}}</span></td>
      </tr>
      <tr>
        <td colspan="1"><div>Prepared By</div></td>
        <td colspan="1"><div>Authorized By</div></td>
        <td colspan="1"><div>Reciever's Signature</div></td>
      </tr>
    </table>

    <div class="buttons">
      <button id="print-button" onclick="window.print()">Print</button>
      <button id="back-button" onclick="window.history.back()">Back</button>
    </div>

    <script>
      function goBack() {
    </script>
  </body>
</html>
